<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f981c6">  <td>24/02/24 12:46:41</td>   <td>0</td> <td title="&lt;&lt;MainFrame.afterSuite()[pri:0, instance:com.eklipse.First_Interview.ConvertTiktok@4a83a74a]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="f981c6">  <td>24/02/24 12:44:54</td>   <td>-107287</td> <td title="&gt;&gt;MainFrame.beforeSuite()[pri:0, instance:com.eklipse.First_Interview.ConvertTiktok@4a83a74a]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="7a6466">  <td>24/02/24 12:44:56</td>   <td>-105091</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConvertTiktok.converts(java.lang.String, java.lang.String)[pri:2, instance:com.eklipse.First_Interview.ConvertTiktok@4a83a74a]">converts</td> 
  <td>main@1159190947</td>   <td></td> </tr>
</table>
